@model HomeVm
<div id="VillasList">

    <div class="row" style="--bs-gutter-x:0">
        @foreach(var villa in Model.VillaList)
        {  
            <div class="pb-4 px-4 col-md-12 col-lg-6">
                <div class="row" style="border-radius:5px; border: 1px solid #aaa">
                    <div class="col-4" style="padding: 0.75rem">
                        <img class="d-block w-100" style="border-radius:5px;" src="@villa.ImageUrl" alt="">
                    </div>
                    <div class="col-8" style="padding: 0.75rem">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title text-success">@villa.Name</h4>
                            <div>
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target='#exampleModal-@(villa.Id)'>
                                    Details
                                </button>
                            </div>
                        </div>
                        <h6 class="card-text mt-2">
                            @Html.Raw(villa.Description)
                        </h6>
                    </div>
                    <div class="col-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-4">
                                @if (Model.CheckInDate > DateOnly.FromDateTime(DateTime.Now))
                                {
                                    if (villa.IsAvailable)
                                    {
                                        <a asp-controller="Booking" asp-action="FinalizeBooking" 
                                           asp-route-villaId="@villa.Id" asp-route-checkInDate="@Model.CheckInDate"
                                           asp-route-nights="@Model.Nights"
                                           class="btn btn-success form-control btn-block">
                                            Book
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-danger disabled form-control btn-block">
                                            Sold Out
                                        </a>
                                    }
                                }
                            </div>
                            <div class="col-5 d-flex flex-row gap-1">
                                <span class="border py-1 px-2 rounded my-3" style="font-size: .85rem"><i class="bi bi-person-standing"></i>: @villa.Occupancy adults </span>
                                <span class="border py-1 px-2 rounded my-3" style="font-size: .85rem"><i class="bi bi-arrows-expand-vertical"></i> : @villa.Sqft sqft</span>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <span class="border border-2 p-2 rounded">USD @villa.Price.ToString("c")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModal-@(villa.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" style="border: 1px solid #aaa; border-radius:7px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-3 text-success" id="exampleModalLabel">Villa Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body m-0">

                            <partial name="_VillaDetail" model="@villa" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>